<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Páginas</h1>
  <ul>
    {{#pages}}
    <li><a href="/{{.}}">{{.}}</a></li>
    {{/pages}}
  </ul>
  <a href="/admin">Criar nova página</a>
</body>
</html>