<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>{{title}}</h1>
  <form action="/admin/edit/{{url}}" method="POST">
    <label for="content">Conteúdo da Página:</label>
    <textarea id="content" name="content" rows="10" required>{{content}}</textarea>
    <button type="submit">Salvar Alterações</button>
  </form>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="window.location.href='/'">Home</button>
</body>
</html>