<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>{{title}}</h1>
    <main>
      {{{content}}}
    </main>
    <nav>
      <ul>
        <button onclick="window.location.href='/'">Home</button>
        <br/><br/>
        <button onclick="window.location.href='/admin'">Criar nova página</button>
      </ul>
    </nav>
  </header>
 
  <footer>
    <p>&copy; FastPages</p>
  </footer>
</body>
</html>